.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 381px;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    margin-top: 18px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}